@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
:root 
{
	--blue: #7B8B75;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #7B8B75;
    color: white;
    overflow: auto; /* Prevent horizontal scrolling */
    background-attachment: fixed;
    
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
	font-weight: bold;
}
h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: #00B074
  
}
.dashboard {
    flex-grow: 1;
    padding: 20px;
}

/* Submenu (Hidden by default) */
.sidebar .submenu {
    display: none;
    padding-left: 20px;
}

/* Active (clicked) submenu item */
.sidebar .submenu-item.active {
    color: #ffffff;
    background-color: #00B074;
    border-radius: 5px;
    padding: 8px 15px;
}

label {
    font-size: 1rem;
    color: #00B074;
    margin: 0;
    padding: 10px 0;
}

/* Show submenu when parent is active */
.sidebar a.active + .submenu {
    display: block;
}

.sidebar .submenu a {
    
    color: #6B6B6B;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.sidebar .submenu a:hover {
    color: #00B074;
}

/* Logout */
.sidebar .logout {
    margin-top: 10px;
    color: #A1A1A1;
    font-size: 16px;
    
}

.sidebar .logout:hover {
    color: #ff0000;
}


.sidebar a {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.material-symbols-outlined {
    font-size: 30px;
    vertical-align: middle;
}


.sidebar a:hover {
    color: #00B074;
}

/* Sidebar Close Button */
.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    background: none;
    border: none;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #7B8B75;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.openbtn:hover {
    background-color: #444;
}

/* Content */
.content {
    padding: 20px;
    background-color: #7B8B75;
    height: 100vh;
    transition: margin-left 0.5s ease;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #394C3B;
    padding: 10px 20px;
    border-bottom: 1px solid #4E604E;
    height: 60px;
}

.profile-actions {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-actions img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.notification-bell {
    font-size: 20px;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    min-width: 120px;
    z-index: 10;
}

.profile-dropdown a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.profile-dropdown a:hover {
    background: #f0f0f0;
     color: #ff0000;
}

.cardBox 
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 30px;
}
.cardBox .card 
{
	position: relative;
	background: var(--white);
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers 
{
	position: relative;
	font-weight: 500;
	font-size: 2.5em;
	color: var(--blue);
}
.cardBox .card .cardName 
{
	color: var(--black2);
	font-size: 1.1em;
	margin-top: 5px;
}
.cardBox .card .iconBx 
{
	font-size: 3.5em;
	color: var(--black2);
}
.cardBox .card:hover 
{
	background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx 
{
	color: var(--white);
}

/* charts */
.graphBox
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 30px;
	min-height: 200px;
}
.graphBox .box 
{
	position: relative;
	background: #fff;
	padding: 20px;
	width: 100%;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	border-radius: 20px;
}

.details 
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 30px;
	/* margin-top: 10px; */
}
.details .recentOrders 
{
	position: relative;
	display: grid;
	min-height: 500px;
	background: var(--white);
	padding: 20px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	border-radius: 20px;
}
.cardHeader 
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

}
.cardHeader h2 
{
	font-weight: 600;
	color: var(--blue);
}
.btn 
{
	position: relative;
	padding: 5px 10px;
	background: var(--blue);
	text-decoration: none;
	color: var(--white);
	border-radius: 6px;
}
.details table
{
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}
.details table thead td 
{
	font-weight: 600;
}
.details .recentOrders table tr 
{
	color: var(--black1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child 
{
	border-bottom: none;
}
.details .recentOrders table tbody tr:hover 
{
	background: var(--blue);
	color: var(--white);
}
.details .recentOrders table tr td 
{
	padding: 10px;
}
.details .recentOrders table tr td:last-child 
{
	text-align: end;
}
.details .recentOrders table tr td:nth-child(2)
{
	text-align: end;
}
.details .recentOrders table tr td:nth-child(3)
{
	text-align: center;
}
.status.delivered
{
	padding: 2px 4px;
	background: #8de02c;
	color: var(--white);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}
.status.pending
{
	padding: 2px 4px;
	background: #f9ca3f;
	color: var(--white);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}
.status.return
{
	padding: 2px 4px;
	background: #f00;
	color: var(--white);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}
.status.inprogress
{
	padding: 2px 4px;
	background: #1795ce;
	color: var(--white);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
}
.recentCustomers 
{
	position: relative;
	display: grid;
	min-height: 500px;
	padding: 20px;
	color: black;
    background-color: white;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	border-radius: 20px;
}

.imgBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--grey); /* Light background */
}

.imgBx ion-icon {
    font-size: 24px; /* Adjust icon size */
    color: var(--black1); /* Match theme color */
}

.recentCustomers table tr td 
{
	padding: 12px 10px;
}
.recentCustomers table tr td h4 
{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2em;
}
.recentCustomers table tr td h4 span 
{
	font-size: 14px;
	color: var(--black2);
}
h4 {
	margin-right: 260px;
}
.recentCustomers table tr:hover 
{
	background: var(--blue);
	color: var(--white);
}
.recentCustomers table tr:hover td h4 span 
{
	color: var(--white);
}


/*now, make it responsive design */
@media (max-width: 991px)
{
	.graphBox
	{
    grid-template-columns: 1fr;
		height: auto;
	}
	.navigation
	{
		left: -300px;
	}
	.navigation.active
	{
		width: 300px;
		left: 0;
	}
	.main
	{
		width: 100%;
		left: 0;
	}
	.main.active
	{
		left: 300px;
	}
	.cardBox
	{
    grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width: 768px)
{
	.details
	{
    grid-template-columns: repeat(1,1fr);
	}
	.recentOrders
	{
		overflow-x: auto;
	}
	.status.inprogress
	{
		white-space: nowrap;
	}
}


@media (max-width: 480px)
{
	.cardBox
	{
    grid-template-columns: repeat(1,1fr);
	}
	.cardHeader h2
	{
		font-size: 20px;
	}
	.user
	{
		min-width: 40px;
	}
	.navigation
	{
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.navigation.active 
	{
		width: 100%;
		left: 0;
	}
	.toggle 
	{
		z-index: 10001;

	}
	.main.active .toggle 
	{
		position: fixed;
		right: 0;
		left: initial;
		color: var(--white);
	}
}








